.jumbotron{
    padding-top: 6rem;
    background-color: #a2e1db;
}
#about{
    background-color: #55cbcd;
}
#galeri{
    background-color: #a2e1db;
}
footer{
    background-color: #d4f0f0;
}
section{
    padding-top: 5rem;
}